*{
    margin:0;
    padding: 0;
}

html{
    background-image: url("bg-intro-desktop.png");
    background-color: rgba(252, 73, 97, 0.788);   
}

.Word{
    color: white;
    width:300px;
    position:static;
    top: 50%;
    left: 50%;
    margin-top: 100px;
}

.form{
    width:400px;
    height:600px;
     
}

 
  

main{
    max-width: 1400px;   
    margin-top: 50px; 
    margin-left: 300px;
     
}
    
@media (min-width:850px) {
    main{
        display: flex;
         
    }
}

h1{
    font-family: sans-serif;
}

.Fomhead{
    border:1px ;
    border-color: black;
    border-radius: 5px;
    background-color: blueviolet;
    padding: 10px;
    color: white;
    text-align: center;
}


.let{
    background-color: white;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
}

#div{
    background-color:lawngreen;
    padding: 10px;
    color: white;
    border-color: lawngreen;
    border-radius: 5px;
    text-align: center;
    width: 362px;
}

#form{
    color: red;
}

h6{
    color: silver;
    text-align: center;
}

#txt{
    height: 30px;
    
}

input:required:invalid{
    border: 1px solid hsl(0,100%,74%);
    background-image: url(icon-error.svg);
    background-repeat:no-repeat ;
    background-position: right;
    background-origin:content-box ;

}

 

span{
    display: none;
}